@model WebApp.Models.DescribeVpcModel

@{
    ViewData["Title"] = "Describe VPC";
}

<h1>VPC</h1>
<p>
    Generally your account will only have one `default` VPC.
</p>
<div>
    <h4>Amazon Virtual Private Cloud</h4>
    <hr />
    @if (Model.VpcId != null)
    {
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="VpcId"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VpcId)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="State"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="CidrBlock"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CidrBlock)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Tenancy"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tenancy)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="OwnerId"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OwnerId)
            </dd>
        </dl>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="subnets-tab" data-toggle="tab" href="#subnets" role="tab" aria-controls="subnets" aria-selected="true">Subnets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="route-tables-tab" data-toggle="tab" href="#route-tables" role="tab" aria-controls="route-tables" aria-selected="false">Route Tables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="internet-gateways-tab" data-toggle="tab" href="#internet-gateways" role="tab" aria-controls="internet-gateways" aria-selected="false">Internet Gateways</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dhcp-options-sets-tab" data-toggle="tab" href="#dhcp-options-sets" role="tab" aria-controls="dhcp-options-sets" aria-selected="false">Dhcp Options Sets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="network-acls-tab" data-toggle="tab" href="#network-acls" role="tab" aria-controls="network-acls" aria-selected="false">Network Acls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="security-groups-tab" data-toggle="tab" href="#security-groups" role="tab" aria-controls="security-groups" aria-selected="false">Security Groups</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" style="padding-top: 10px;">
            <div class="tab-pane fade show active" id="subnets" role="tabpanel" aria-labelledby="subnets-tab">
                <partial name="~/Views/Subnet/_Describe.cshtml" model="ViewData.Model.Subnets" />
            </div>
            <div class="tab-pane fade" id="route-tables" role="tabpanel" aria-labelledby="route-tables-tab">
                <partial name="~/Views/RouteTable/_Describe.cshtml" model="ViewData.Model.RouteTables" />
            </div>
            <div class="tab-pane fade" id="internet-gateways" role="tabpanel" aria-labelledby="internet-gateways-tab">
                <partial name="~/Views/InternetGateway/_Describe.cshtml" model="ViewData.Model.InternetGateways" />
            </div>
            <div class="tab-pane fade" id="dhcp-options-sets" role="tabpanel" aria-labelledby="dhcp-options-sets-tab">
                <partial name="~/Views/DhcpOptionsSet/_Describe.cshtml" model="ViewData.Model.DhcpOptionsSets" />
            </div>
            <div class="tab-pane fade" id="network-acls" role="tabpanel" aria-labelledby="network-acls-tab">
                <partial name="~/Views/NetworkAcls/_Describe.cshtml" model="ViewData.Model.NetworkAcls" />
            </div>
            <div class="tab-pane fade" id="security-groups" role="tabpanel" aria-labelledby="security-groups-tab">
                <partial name="~/Views/SecurityGroup/_Describe.cshtml" model="ViewData.Model.SecurityGroups" />
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            No default VPC exists!
        </div>
    }
</div>
